<h1>投稿一覧</h1>
<% @books.each do |book| %>

<div>
  <h2><%= link_to book.title, book_path(book.id) %></h2>
  <p>投稿者：<%= book.user.name %></p>
  <%= attachment_image_tag book.user, :profile_image, fallback: "no_image.jpg", size: "40x40" %>
  <p>本文</p>
  <p><%= book.body %></p>
</div>

<% end %>